<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Portfolio Lutchenca</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Lutchenca Medeiros</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.png" alt="foto-perfil" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Lutchenca
                        <span class="text-primary">Medeiros</span>
                    </h1>
                    <div class="subheading mb-5">
                        Natal-RN · Brasil · (84) 99837.0985 ·
                        <a href="mailto:name@email.com">lutchenca.nobrega@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am a multidisciplinary professional with experience in Marketing and Design in career transition,
                       seeking to expand my knowledge in Web Development and Programming. 
                       I have a lot experience working with companies and freelancing and now I'm pursuit my dream to include all of that in the IT field!
                        If you saw my potential, get in touch, I love chat and meet people. :)</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/lutchenca/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/lutchenca"target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/lutcodes"target="_blank"><i class="fab fa-twitter"></i></a>                      
                        <a type="button" href="https://api.whatsapp.com/send?phone=5584998370985&text=Hello!%20I%20wanna%20make%20business%20with%20you!" target="_blank"class="social-icon"><i class="fas fa-phone"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Junior Web Developer</h3>
                            <div class="subheading mb-3">Student</div>
                            <p>I am studying through bootcamps, courses, personal projects and in search of my first opportunity.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2021</span></div>
                    </div>    

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Marketing</h3>
                            <div class="subheading mb-3">Ciclos Método de Estudo</div>
                            <p>Responsible for the website feed (blog, SEO), assistance in social networks (Instagram, Youtube and Linkedin), copywriting.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Jun 2020 - Dec 2020</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                      <div class="flex-grow-1">
                          <h3 class="mb-0">Marketing Assistant</h3>
                          <div class="subheading mb-3">Escola de Magistratura do Rio Grande do Norte</div>
                          <p>Communication planning, administration of social networks, mailing and releases, contact with the press.
                          </p>
                      </div>
                      <div class="flex-shrink-0"><span class="text-primary">Jun 2020 - Dec 2020</span></div>
                  </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Social Media</h3>
                            <div class="subheading mb-3">Centro de Informática - UFPE</div>
                            <p>Responsible for the administration of social media at the Computer Center of the Federal University of Pernambuco, 
                              as well as coverage of events and academic reports of the department.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Feb 2018 - Jul 2018</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Social Media Director</h3>
                            <div class="subheading mb-3">WBS Food</div>
                            <p>Planning of campaigns and projects, review and writing of content on and off and administration of Social Media
                               (Facebook and Instagram) and company website.
                            </p>
                        </div>

                        <div class="flex-shrink-0"><span class="text-primary">Jan 2017 - Dec 2017</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
              <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Afya Labs</h3>
                        <div class="subheading mb-3">Program made by Afya Educacional and Gama Academy</div>                        
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">May 2021 - Jun 2021</span></div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Fullstack Web Developer</h3>
                      <div class="subheading mb-3">Digital House</div>                        
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">Jun 2021 - Dec 2021</span></div>
              </div>

              <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Responsive Web Design</h3>
                    <div class="subheading mb-3">Free Code Camp</div>                        
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Mar 2021</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="flex-grow-1">
                  <h3 class="mb-0">HTML Web Developer Bootcamp</h3>
                  <div class="subheading mb-3">Digital Innovation One</div>                        
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Mar 2021</span></div>
          </div>

              <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Design Completo</h3>
                    <div class="subheading mb-3">Origamid</div>                        
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Nov 2020 - Feb 2021</span></div>
            </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Federal University of Rio Grande do Norte</h3>
                            <div class="subheading mb-3">Bachelor of Social Communication - Advertising</div>                                                        
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2015 - 2020</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>                        
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>                        
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>                        
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Expertise</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Planning, communicationm organization
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Suite Adobe & Web Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Social Media & Digital Marketing 
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                        <li>
                          <span class="fa-li"><i class="fas fa-check"></i></span>
                          I made an awesome coffee as well :D
                      </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time watching youtube, netflix and animes. I also like play sports and go to the gym and exercising is a big part of my routine. During the summer here where I live, I enjoy taking long walks at the beach (fun fact: the city is also kwnown as "Sun's bride" and the word Natal means "Christmas" haha). </p>
                    <p class="mb-0">As I have worked as a designer and photographer, I have a lot of appreciation for these activities and nowadays they are also my hobbies. In my free time I study about web development, design and what's new in the world of technology.</p>
                </div>
            </section>
            <hr class="m-0" />
            
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
